.movie-container{
  width:240px ;
  height: min-content;
  }
  .movie-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  gap: 16px;
  justify-items: center;
  column-gap: 5px;
  
  }
  .movie-summary{
    margin-top: 0;
    margin-bottom:20px ;
  }
  
  .movie-poster{
    height: 650px;
    width: 240px;
    object-fit:cover;
    column-gap: 16px; 
  }
  .movie-name{
    font-size: 20px;
    margin: 0;
  }
  .movie-rating{
    font-size:20px ;
    margin:0;
    
  }
  .movie-summary{
    margin: 0;
  }
  .movie-flex{
    display: flex;
    justify-content: space-between;
    
  }
  .add-movie-list{
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width:30px 0px ;
    margin:10px auto;
    
  }
  .game-box{
    border: 1px solid  black;
    height: 160px;
    width: 160px;
    font-size: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .game-box:hover{
    background: hsl(0deg  0%  0% / 6%);

  }
  .borad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-columns: repeat(3,1fr);
    width: min-content;
    margin: 0 auto;
  }